{% extends "base.html" %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
<div class="container">
    <div class="row row-cols-4">
        <div class="col">Column</div>
        <div class="col">Column</div>
        <div class="col">Column</div>
        <div class="col">Column</div>
    </div>
  </div>
<div class="container">
        <div class="row row-cols-4">
            {% for product in object_list %}
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{{ product.image.url }}" class="img-thumbnail" alt="..." width="">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <br>
                            <a href="{{ product.get_absolute_url }}" class="btn btn-primary">View</a>
                            <div class="text-end">
                                <small class="text-muted">{{ product.created|timesince }}</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
</div>

{% endblock content %}